        <div class="flex flex-col gap-8 mb-4">
            <div
                class="block rounded-[--content-border-radius] bg-[--surface-card] text-[--p-primary-contrast-color]">
                <div class="px-6 py-3 bg-[--p-primary-color] rounded-t-[--content-border-radius]" >
                    {{label}}
                </div>
                <div class="p-1">
                    <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
                </div>
            </div>
        </div>